$page_width:100%;
$box_width:1200px;
.main {
    width: $page_width;
    position: relative;
    margin-top: 10px;
    height: 940px;
    .main_left {
        display: block;
        position: absolute;
        left: -380px;
        overflow: hidden;
    }
    .main_right {
        width: 120px;
        display: block;
        position: absolute;
        right: 0;
        overflow: hidden;
    }
    .main_center {
        width: $box_width;
        margin: 0 auto;
        position: absolute;
        left: 120px;
        ul {
            width: $page_width;
            .nav_li {
                width: 183px;
                border: 1px solid #ddd;
                text-align: center;
                line-height: 38px;
                float: left;
                background-color: #f7f7f7;
                color: #666;
                cursor: pointer;
            }
        }
    }
}

.tab_box {
    width: 925px;
    margin-bottom: 10px;
}

.tab_list {
    border: 1px solid #f7f7f7;
    ul {
        width: 910px;
        li {
            width: 184px;
            color: #999;
            font-size: 12px;
            float: left;
        }
    }
    .list_p {
        color: red;
    }
}

.not_list {
    width: 270px;
    border: 1px solid #ddd;
    li {
        width: 133px;
        border: 1px solid #ddd;
        text-align: center;
        line-height: 38px;
        float: left;
        background-color: #f7f7f7;
        color: #666;
        cursor: pointer;
    }
    p {
        padding-left: 10px;
        line-height: 28px;
        span {
            font-size: 12px;
            color: #666;
            margin-left: 10px;
        }
    }
}

.not_pic {
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid #ddd;
    overflow: hidden;
}

.main_bottom {
    width: $box_width;
    margin: 0 auto;
    margin-top: 20px;
    a {
        margin-left: 20px;
        padding: 20px 0 0 90px;
        display: block;
        float: left;
        background-color: #f7f7f7;
    }
}

.new_icon {
    width: $box_width;
    h3 {
        height: 40px;
        line-height: 40px;
        font-weight: normal;
        padding-left: 15px;
    }
    ul {
        border: 1px solid #ddd;
        li {
            float: left;
            width: 198px;
            height: 257px;
            font-size: 12px;
            p {
                color: #666;
            }
            strong {
                color: red;
            }
        }
    }
}

.stairway {
    width: 30px;
    position: fixed;
    left: 70px;
    top: 320px;
    display: none;
    z-index: 99;
    li {
        width: 30px;
        height: 30px;
        background-color: #cdcdcd;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        margin-top: 3px;
        color: #f7f7f7;
        cursor: pointer;
    }
}

.stairway li.active {
    background-color: red;
    display: block;
}

.whitej {
    width: $box_width;
    margin: 0 auto;
    padding-top: 12px;
    .title {
        line-height: 40px;
    }
}

.white_1 {
    border-top: 2px solid #c94b56;
}

.white_2 {
    border-top: 2px solid #c37632;
}

.white_3 {
    border-top: 2px solid #276594;
}

.white_4 {
    border-top: 2px solid #6c9d0e;
}

.white_5 {
    border-top: 2px solid #fe7a65;
}

.title_left {
    font-size: 18px;
    span {
        display: block;
        width: 32px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        line-height: 35px;
        background-color: red;
        margin-right: 10px;
        color: #fff;
    }
}

.title_left .white_span1 {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat 2px -93px;
}

.title_left .white_span2 {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat -28px -93px;
}

.title_left .white_span3 {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat -58px -93px;
}

.title_left .white_span4 {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat -91px -93px;
}

.title_left .white_span5 {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat 3px -204px;
}

.title_right span {
    margin: 0 5px;
    font-size: 12px;
    color: #999;
}

.title_right a:hover {
    color: red;
    text-decoration: underline;
}

.white_left {
    width: 210px;
    height: 485px;
    overflow: hidden;
    position: relative;
}

.u_list {
    position: absolute;
    left: 0;
    top: 0;
}

.u_list li {
    float: left;
}

.btn_ol {
    position: absolute;
    left: 70px;
    bottom: 20px;
}

.btn_ol li {
    width: 13px;
    height: 13px;
    background-color: #f7f7f7;
    border-radius: 50%;
    margin-left: 8px;
    float: left;
}

.btn_ol li.active {
    background-color: plum;
}

.white_right ul {
    width: 988px;
    height: 486px;
    border: 1px solid #ddd;
    li {
        width: 196px;
        float: left;
        a {
            font-size: 12px;
        }
        span {
            color: red;
            display: block;
        }
    }
}

.white_right ul a:hover {
    color: rgb(148, 65, 65);
    text-decoration: underline;
}

.hot_box {
    width: 186px;
    height: 131px;
    padding: 20px 10px 10px 14px;
    background-color: #f9f9f9;
}

.hot_title {
    line-height: 40px;
    span {
        font-size: 12px;
        color: #999;
    }
    a:hover {
        color: red;
        text-decoration: underline;
    }
}

.hot_left span {
    color: red;
}

.hot_box h3 {
    height: 30px;
    line-height: 30px;
    color: red;
}

.hot_box p {
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    a {
        margin-right: 25px;
    }
}

.hot_main {
    width: $page_width;
    li {
        float: left;
        width: 197px;
        margin-top: 20px;
    }
}

.hot_deg {
    width: 80px;
    font-size: 12px;
    p {
        color: #999;
    }
    span {
        color: red;
    }
}