@charset "utf-8";
.top_head {
    width: 100%;
    height: 27px;
    background-color: #f2f2f2;
}

.top_head .top_headmid {
    width: 1200px;
    margin: 0 auto;
    height: 27px;
    line-height: 27px;
}

.top_head .top_headmid .top_left {
    width: 370px;
    height: 100%;
}

.top_head .top_headmid .top_right {
    width: 785px;
    height: 100%;
}

.top_left span {
    font-size: 12px;
    color: #999;
}

.top_right li {
    float: left;
    margin: 0 5px;
}

.top_left span {
    font-size: 12px;
    color: #999;
}

.top_right a:hover {
    color: #CC0000;
    text-decoration: underline;
}

.top_right span {
    font-size: 12px;
    color: #CC0000;
}

.ad {
    height: 90px;
    width: 100%;
}

.ad a {
    display: block;
    width: 100%;
    height: 90px;
    background: url(http://img10.jiuxian.com/bill/2020/1210/852f68135f284722b82f963e7155d043.jpg) no-repeat top center scroll;
}

.top_mid {
    width: 1200px;
    margin: 35px auto 35px;
}

.logo {
    width: 257px;
    padding: 4px 3px 0;
    margin: 0 auto;
}

.logo a {
    display: block;
    float: left;
    margin-right: 3px;
}

.search .s_form {
    margin-top: 5px;
    border: 1px solid #CC0000;
}

.search .s_form .sear_input {
    width: 450px;
    height: 33px;
    outline: none;
    border: 2px solid #CC0000;
}

.search .s_form .btn {
    width: 85px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    color: #fff;
    border: 2px solid #CC0000;
    background-color: #CC0000;
}

.search li {
    float: left;
}

.search li a:hover {
    color: #CC0000;
    text-decoration: underline;
}

.search li s {
    font-size: 12px;
    color: #999;
    margin: 0 6px;
}

.protect {
    width: 363px;
    height: 68px;
    margin-left: 20px;
    background: url(http://misc.jiuxian.com/img/newIndexImg/headerProPic1.png) no-repeat top left;
}

.t_nav {
    width: 100%;
    height: 34px;
    background-color: #990000;
}

.t_nav .nav {
    width: 1200px;
    height: 34px;
    margin: 0 auto;
}

.t_nav .nav .nav_all {
    display: block;
    float: left;
    width: 190px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    color: #fff;
    text-align: center;
}

.t_nav .nav a:hover {
    background-color: #b40c10;
}

.nav_list {
    width: 890px;
    height: 34px;
}

.nav_list li {
    float: left;
    line-height: 33px;
    padding: 0 17px;
    text-align: center;
}

.nav_list li a {
    font-size: 14px;
    color: #fff;
}

.nav_list li:hover {
    background-color: #b40c10;
}

.goodsinfo {
    width: 1200px;
    height: 570px;
    border: 1px solid #cdcdcd;
    padding: 3px;
    margin: 0 auto;
}

.wrap {
    position: relative;
}

#spic {
    padding: 10px;
    float: left;
    position: relative;
}

#spic img {
    width: 420px;
    height: 420px;
}

#sf {
    width: 50px;
    height: 50px;
    background: rgb(185, 152, 90);
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

#bf {
    width: 420px;
    height: 420px;
    overflow: hidden;
    position: absolute;
    left: 422px;
    visibility: hidden;
    z-index: 100;
}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 840px;
    height: 840px;
}

#ulist {
    position: absolute;
    left: 0px;
    top: 436px;
    width: 402px;
    height: 56px;
    overflow: hidden;
}

#ulist a {
    float: left;
    width: 10px;
    height: 54px;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    background: #fff;
}

#list {
    float: left;
    margin-left: 18px;
    width: 400px;
    position: relative;
}

#list li {
    float: left;
    list-style: none;
    width: 60px;
    height: 60px;
    padding-right: 6px;
}

#list li img {
    width: 54px;
    height: 54px;
    border: 1px solid #ccc;
}

.wrap ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

.wrap ul li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
}

.wrap ul li img {
    width: 56px;
    height: 56px;
    border: 1px solid #ccc;
}

#right {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #333;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: #fff;
}

.goodsinfo {
    margin: 50px 0 0 100px;
}

.goodsinfo-img {
    width: 200px;
    height: 200px;
    float: left;
}

.goodsinfo-img img {
    width: 200px;
    height: 200px;
}

.goodsinfo-word {
    overflow: hidden;
    float: left;
}

.p-name {
    width: 540px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    color: #666;
    line-height: 26px;
}

.p-name .loadtitle {
    font: 16px "微软雅黑";
    color: #333;
    font-weight: bolder;
}

.p-price {
    margin-left: 50px;
    margin-top: 10px;
    width: 540px;
    height: 120px;
    background: #f6f6f6;
    line-height: 50px;
    font-size: 14px;
    color: #999;
}

.p-price em {
    font-size: 14px;
    color: #cc3333;
    margin: 0 3px;
}

.p-price strong {
    font-size: 26px;
    color: #cc3333;
}

.p-btn {
    margin-top: 20px;
    padding-left: 52px;
}

.p-btn span {
    font-size: 14px;
    color: #999;
}

.p-btn input {
    display: inline-block;
    width: 50px;
    height: 46px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: black;
    margin-left: 10px;
    border: 1px solid gray;
    /* float: left; */
}

.p-btn a {
    display: block;
    width: 120px;
    height: 50px;
    background: #cc3333;
    border: 1px solid #ffcccc;
    font-size: 16px;
    font-family: "微软雅黑";
    color: white;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-top: 20px;
}

.foot {
    width: 100%;
    background-color: #222;
    padding-top: 20px;
    margin-top: 30px;
}

.foot_box {
    width: 1200px;
    margin: 0 auto;
    color: #999;
    font-size: 12px;
    margin-top: 50px;
}

.foot p {
    line-height: 28px;
}

.foot_p1 .foot_p2 {
    color: #333;
}

.foot_pic {
    margin: 10px 0;
}

.foot_p4 {
    color: red;
}

.rightSidebar {
    width: 35px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 200px;
    background-color: #f7f7f7;
    border-left: 1px solid #f6f6f6;
}

.rightSidebar i {
    display: block;
    margin: 0 auto;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #cc3333;
    color: #fff;
}

.sidebar span {
    font-size: 12px;
    display: block;
    width: 24px;
    margin: 0 auto;
}

.sidebar .sid_span3 {
    display: block;
    margin: 0 auto;
    color: #000;
    width: 12px;
}

.sidebar {
    width: 100%;
    padding: 10px 0;
}

.sidebar:hover {
    background-color: #cc3333;
}

.sidebar_bottom {
    margin-top: 200px;
}

.sidebar_bottom em {
    display: block;
    width: 35px;
    padding: 10px 0;
    font-size: 19px;
    color: #ccc;
}

.sidebar_bottom em:hover {
    background-color: #CC0000;
    color: #fff;
}